<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand">شركة شحن</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mس-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="register" routerLinkActive="redLink">انشاء حساب</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="redLink">تسجيل الدخول</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="order" routerLinkActive="redLink">الطلب</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" routerLink="follow-up-on-orders" 
            routerLinkActive="redLink">متابعة الطلبات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="order-details" 
            routerLinkActive="redLink">تفاصيل الطلب</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="chat" 
            routerLinkActive="redLink">الدردشة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="chat-details" 
            routerLinkActive="redLink">تفاصيل الدردشة</a>
          </li>
        
         
        </ul>
       
      </div>
    </div>
  </nav>
