<div class=" mx-auto .formContainer my-5 container">
    <h3 class="text-center my-3">الطلب</h3>
    <form style="width: 70%; margin:auto;" class="p-3">
        <div class="row align-items-center">
            <div class="px-2 col-md-6">
                <div class="inputContainer">
                    <select type="text" class="form-select">
                        <option value="0" selected>طريقة التوصيل</option>
                        <option value="1">طريقة 1</option>
                        <option value="2">طريقة 2</option>
                        
                        </select>
                    <i class="fa-solid fa-question"></i>
                </div>
            </div>
            <div class="px-2 col-md-6">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="التاريخ المتوقع للشحن">
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
            </div>
           
        </div>
        <div class="row align-items-center">
            <div class="px-2 col-md-6">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="من دولة">
                    <i class="fa-solid fa-flag"></i>
                </div>
            </div> <div class="px-2 col-md-6">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="من مدينة">
                    <i class="fa-solid fa-city"></i>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="px-2 col-md-6">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="ميناء التحميل">
                    <i class="fa-solid fa-ship"></i>
                </div>
            </div> <div class="px-2 col-md-6">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="الى دولة">
                    <i class="fa-solid fa-flag"></i>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="px-2 col-md-6">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="الى مدينة">
                    <i class="fa-solid fa-flag"></i>
                </div>
            </div>
             <div class="px-2 col-md-6">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="ميناء التفريغ">
                    <i class="fa-solid fa-ship"></i>
                </div>
            </div>
        </div>
        <div class="w-50 mx-auto px-2 my-3 d-flex">
            <button class="button mx-auto btn btn-outline-info">
                <input type="radio" id="a25" name="checkOrder" />
                <label style="color: #fff;" class="btn btn-default" for="a25">FCL</label>
            </button>
            <button class="button mx-auto btn btn-outline-info">
                <input type="radio" id="a50" name="checkOrder" />
                <label style="color: #fff;" class="btn btn-default" for="a50">LCL</label>
            </button>
        </div>
        <div class="row align-items-center">
            <div class="px-2 col-md-6">
                <div class="inputContainer">
                    <select type="text" class="form-select">
                        <option value="0" selected>نوع الحاوية</option>
                        <option value="1">طريقة 1</option>
                        <option value="2">طريقة 2</option>
                        
                        </select>
                    <i class="fa-solid fa-question"></i>
                </div>
                </div>
                <div class="px-2 col-md-6">
                    <div class="inputContainer">
                        <input type="text" class="form-control" placeholder="الكمية">
                        <i class="fa-solid fa-weight-hanging"></i>
                    </div>
                </div>
            
        </div>
        <div class="row align-items-center">
            <div class="px-2 col-md-4">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="الحجم">
                    <i class="fa-solid fa-weight-hanging"></i>
                </div>
            </div> <div class="px-2 col-md-4">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="الوزن">
                    <i class="fa-solid fa-weight-hanging"></i>
                </div>
            </div> <div class="px-2 col-md-4">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="الكمية">
                    <i class="fa-solid fa-weight-hanging"></i>
                </div>
            </div>
        </div>
        <div class="px-2">
            <div class="inputContainer">
                <input type="text" class="form-control" placeholder="وصف البضاعة">
                <i class="fa-solid fa-box"></i>
            </div>
        </div><div class="px-2">
            <div class="inputContainer">
                <input type="text" class="form-control" placeholder="ملاحظات">
                <i class="fa-solid fa-note-sticky"></i>
            </div>
        </div>
        <div class="text-center">
                    <button type="submit" class="btn btn-outline-light my-3 mx-auto">شحن <i class="fa-solid fa-paper-plane"></i></button>

        </div>
    </form>
</div>

