<div class=" mx-auto login my-5 container">
    <h3 class="text-center my-3">متابعة الطلبات</h3>
    <form class="p-5">
        <div>
            <div class="row mx-auto my-3">
                <div class="col-md-6 my-2 px-1">
                    <div class="inputContainer">
                        <input type="text" class="form-control" placeholder="رقم الطلب">
                        <i class="fa-solid fa-hashtag"></i>
                    </div>
                </div>
                <div class="col-md-3 my-2 px-1">
                    <div class="inputContainer">
                        <input type="text" class="form-control" placeholder="من تاريخ">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                </div>
                <div class="col-md-3 my-2 px-1">
                    <div class="inputContainer">
                        <input type="text" class="form-control" placeholder="الى تاريخ">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="ordersSearch btn btn-outline-light">بحث <i class="fa-solid fa-search mx-1"></i></button>
        </div>
    </form>
<div style="overflow-x: auto;" class="ordersTable p-0 my-5 ">
    <table class="table mx-auto">
        <tr style="border-bottom: 5px solid #000;" class="text-center">
            <th>رقم الطلب</th>
            <th>تاريخ الطلب</th>
            <th>من</th>
            <th>الى</th>
            <th>حجم الشحنة</th>
            <th>الكمية</th>
            <th>حجم الطلب</th>
            <th>الدردشة</th>
        </tr>
       <tbody class="table-success">
        <tr class="text-center">
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor sit amet.</td>
         
        </tr>
        <tr class="text-center">
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
        </tr>
       </tbody>
    </table>
</div>
</div>
