<div class=" mx-auto  my-5 container">
    <h3 class="text-center my-3">تفاصيل الطلب</h3>
    <form class="p-5">
        <div class="row align-items-center">
            <div class=" px-2 align-items-center col-md-6">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="رقم الطلب">
                    <i class="fa-solid fa-hashtag"></i>
                </div>

            </div>
            <div class="col-md-6 px-2">
                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="الاسم">
                    <i class="fa-solid fa-signature"></i>
                </div>
            </div>
      </div>
        <div class="row align-items-center">
            <div class=" px-2 align-items-center col-md-6">

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="رقم الجوال">
                    <i class="fa-solid fa-mobile"></i>
                </div>

            </div>
            <div class="col-md-6 px-2">

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="البريد الالكتروني">
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </div>
      </div>
        <div class="row align-items-center">
            <div class=" px-2 align-items-center col-md-6">

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="من دولة">
                    <i class="fa-solid fa-flag"></i>
                </div>

            </div>
            <div class="col-md-6 px-2">

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="الى دولة">
                    <i class="fa-solid fa-flag"></i>
                </div>
            </div>
      </div>
        <div class="row align-items-center">
            <div class=" px-2 align-items-center col-md-6">

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="من مدينة">
                    <i class="fa-solid fa-city"></i>
                </div>

            </div>
            <div class="col-md-6 px-2">

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="الى مدينة">
                    <i class="fa-solid fa-city"></i>
                </div>
            </div>
      </div>
        <div class="row align-items-center">
            <div class=" px-2 align-items-center col-md-6">

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="من ميناء">
                    <i class="fa-solid fa-ship"></i>
                </div>

            </div>
            <div class="col-md-6 px-2">

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="الى ميناء">
                    <i class="fa-solid fa-ship"></i>
                </div>
            </div>
      </div>
        <div class="row align-items-center">
            <div class=" px-2 align-items-center col-md-6">

                <div class="inputContainer">
                    <select class="form-select">
                        <option value="0" selected>نوع الحاوية</option>
                        <option value="1">نوع  1</option>
                        <option value="2">نوع 2</option>
                        <option value="3">نوع 3</option>
                    </select>
                    <i class="fa-solid fa-question"></i>
                </div>

            </div>
            <div class="col-md-6 px-2">

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="حجم الشحنة">
                    <i class="fa-solid fa-weight-hanging"></i>
                </div>
            </div>
      </div>
        <div class="row align-items-center">
            <div class=" px-2 align-items-center col-md-6">

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="وزن الشحنة">
                    <i class="fa-solid fa-weight-hanging"></i>
                </div>

            </div>
            <div class="col-md-6 px-2">

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="الكمية">
                    <i class="fa-solid fa-weight-hanging"></i>
                </div>
            </div>
      </div>
        
      
      <div class="w-100">
        <div class="inputContainer my-3">
            <input type="text" class="form-control" placeholder="وصف البضاعة">
            <i class="fa-solid fa-box"></i>
        </div>
        <div class="inputContainer my-3">
            <input type="text" class="form-control" placeholder="ملاحظات">
            <i class="fa-solid fa-note-sticky"></i>
        </div>
        </div>
        <div class="row align-items-center">
            <div class="px-2 col-md-6">
                <div class="inputContainer my-3">
                    <input type="text" class="form-control" placeholder="حالة الطلب">
                    <i class="fa-solid fa-note-sticky"></i>
                </div>
             <div class="inputContainer my-3">
                <select class="form-select" aria-label="Default select example">
                    
                    <option value="5">حالة الطلب</option>
                    <option value="5">ee</option>
                    <option value="2">dd</option>
                    <option value="3">ff</option>
  
  
                </select>
                <i class="fa-solid fa-question"></i>
             </div>
  
            </div>
            <div class="col-md-3 px-2">
  
                <button class="btn btn-outline-light mx-1">حفظ <i class="mx-1 fa-solid fa-floppy-disk"></i></button>
                <button class="btn btn-outline-light mx-1">رجوع <i class="fa-solid fa-backward mx-1"></i></button>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-light my-3">شحن <i class="fa-solid fa-paper-plane mx-1"></i></button>
    </form>
</div>
